body {
    background-image: url("hot-air-balloons.jpg");
    background-color: skyblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.title, .subtitle, strong {
    color: black;
}

.hero {
    background: rgba(133, 216, 248, 0.8);
}

.main {
    background: rgba(133, 216, 248, 0.8);
    border-radius: 25px;
    margin: 3% 20%;
    padding: 1.5rem;
}

footer {
    background: rgba(133, 216, 248, 0.8);
    padding: 15px;
}

/* Search bar style */

.input {
    padding: 10px;
    font-size: 17px;
    border-radius: 15px;
    float: left;
    width: 77%;
    background: #f1f1f1;
    margin-right: 5px;
}
#searchBtn {
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border-radius: 15px;
    border-left: none;
    cursor: pointer;
}
#searchBtn:hover {
    background: #0b7dda;
}